.link {
  width: 100%;
  color: #9e9fa0;
  text-decoration: none;
  text-align: center;
  padding: 5px 0;
}
.link:hover {
  color: #9e9fa0;
}
.link.active {
  color: #fff;
}

@media (min-width: 576px) {
  .link {
    width: auto;
    border: 2px solid #9e9fa0;
    border-radius: 7px;
    padding: 5px 10px;
    transition: all 0.3s;
    margin: 0 5px;
  }
  .link:hover {
    border: 2px solid #9e9fa0;
    background-color: #9e9fa0;
    color: rgb(33,37,41);
  }
  .link.active {
    border: 2px solid #fff;
    color: #fff;
  }
  .link.active:hover {
    border: 2px solid #fff;
    background-color: #fff;
    color: rgb(33,37,41);
  }
}