#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 auto;
}
.todo-item {
  cursor: pointer;
  transition: all 0.2s;
}
.todo-item:hover {
  box-shadow: inset 0px 0px 0px 100px rgba(0,0,0, 0.15);
}
.remove-todo {
  padding: 2px;
}
.remove-todo:hover {
  background-color: rgba(0,0,0, 0.15);
}
.todo-enter {
  opacity: 0;
}
.todo-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}
.todo-exit {
  opacity: 1;
}
.todo-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}
.login-form-container {
    max-width: 500px;
}
.accordion-button {
  border-radius: 0.375rem;
}